@media only screen and (min-width: 60em) {
    header img {
        width: 6%;
    }
    .img-center {
        width: 35%;
    }
    .banner {
        top: 20%;
        right: 60%;
    }
    .mapsmall {
        display: none;
    }
    .maplarge {
        display: block;
    }
    .banner {
        font-size: 1.2vw;
    }
}