    @media only screen and (min-width: 34.5em) {
        .navigation {
            display: flex;
        }
        .navigation li {
            display: block;
            flex: 1 1 auto;
        }
        .navigation a {
            text-align: center;
        }
        .navigation li:first-child {
            display: none;
        }
        .flex {
            display: flex;
            flex-flow: row wrap;
            width: 80%;
        }
        .flex-col {
            width: 10%;
            flex: 1 1 auto;
            background-color: white;
        }
        .flex-col,
        .column-col {
            border-bottom: 1px solid #333;
            border-left: 1px solid #333;
            text-align: center;
        }
        .data {
            display: block;
            padding: 0 5px 5px;
            font-size: 0.8rem;
            text-align: center;
        }
        .col-head {
            font-weight: 700;
            font-size: 1rem;
            background-color: #f6dc26ff;
            color: black;
        }
        .col-head {
            display: block;
            padding: 5px;
            border-bottom: 1px solid #333;
            border-top: 1px solid #333;
            text-align: center;
        }
        .img-col {
            width: 96%;
            margin-right: 0;
        }
        .flex {
            border-right: 1px solid #333;
            background-color: white;
            box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.3);
        }
        .midle {
            max-width: 75%;
        }
        header img {
            width: 13%;
        }
        .article {
            line-height: 2.15;
            padding: 20px;
        }
        .img-center {
            width: 40%;
            float: right;
        }
        .headingmap {
            display: block;
        }
        .maplarge {
            display: none;
        }
        .grid {
            display: inline-block;
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
        }
        .contacticons {
            margin: 0 auto;
            padding: 0;
        }
        footer {
            margin-top: 30px;
        }
        .banner {
            right: 50%;
            font-size: 1.2vw;
        }
        .flex img {
            padding: 0px;
        }
        .midle div {
            padding: 0;
        }
        .forecast {
            display: block;
        }
    }